{% extends "base.html" %}

{% block content %}
<h1>О сайте</h1>
<p>Наш интернет-магазин предлагает широкий выбор современной техники от ведущих мировых производителей. На <a href='/'>главной странице</a> нашего сайта представлен полный ассортимент товаров. Вверху расположен поиск по товарам.
</p>

<p>Каждый товар на нашем сайте имеет <a href='/item/1'>свою страницу</a>, где представлена подробная информация о нём: характеристики, описание, цена. Вы также можете добавить товар в <a href='/cart'>корзину</a> и оформить заказ прямо на сайте.
</p>

<p>Для удобства наших клиентов мы предлагаем возможность создания <a href='/login'>личного кабинета</a>, где вы сможете отслеживать статус своих заказов, просматривать историю покупок и получать специальные предложения и скидки.
</p>

<p>Мы рекомендуем наш <a href='/'>интернет-магазин</a> техники для всех, кто ценит своё время и деньги. У нас вы найдёте всё необходимое для дома и офиса по выгодным ценам и с быстрой доставкой.
</p>
{% endblock %}
