{% extends "base.html" %}

{% block content %}
<h1>О сайте</h1>
<p>Наш интернет-магазин предлагает широкий выбор современной техники от ведущих мировых производителей. На <a href='/'>главной странице</a> нашего сайта представлен полный ассортимент товаров, который удобно структурирован по категориям для быстрого поиска нужной позиции. Вы можете отсортировать товары по различным параметрам, таким как цена, название и многое другое.
</p>

<p>Каждый товар на нашем сайте имеет свою страницу, где представлена подробная информация о нём: характеристики, описание, цена. Вы также можете добавить товар в <a>корзину</a> и оформить заказ прямо на сайте.
</p>

<p>Для удобства наших клиентов мы предлагаем возможность создания <a href='/login'>личного кабинета</a>, где вы сможете отслеживать статус своих заказов, просматривать историю покупок и получать специальные предложения и скидки.
</p>

<p>Мы рекомендуем наш <a href='/'>интернет-магазин</a> техники для всех, кто ценит своё время и деньги. У нас вы найдёте всё необходимое для дома и офиса по выгодным ценам и с быстрой доставкой.
</p>
{% endblock %}
