{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for order in orders %}
    <div class="container card">
        <h2>Заказ номер {{ order['id'] }}</h2>
        <h3>Адрес: {{ order['address'] }}; Номер телефона: {{ order['phone'] }}</h3>
        <h4>{{ order['name'] }} {{ order['surname'] }}</h4>
        <h3>Товары: </h3>
        {% for i in order['order'] %}
            <div class="card">
                <h4>ID:{{ i['id'] }}</h4>
                <h4>Название: {{ i['name'] }}</h4>
                <h4>Категория: {{ i['category'] }}</h4>
                <h4>Количество: {{ i['n'] }}</h4>
            </div>
        {% endfor %}
        <div>
            <a href="/delete" class="btn btn-primary">Заказ отправлен</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}